<div class="jumbotron">
  <!-- <img src="images/splash_filtered.jpg" alt="This is an image of two women laughing with each other at an outdoor cafe."> -->
  <div class="container text-center">
    <h1>
    Studies show that mentors and friends determine your career path. Find that support group here:
    </h1>
      <%= link_to "Join Now", default_omniauth_authorize_path, class: "btn btn-lg btn-cta" %>
  </div>

</div>
<div class="container-fluid welcome-page">

  <section class="joining">
    <div class="row text-center">
      <div class="col-md-12">
        <h2>How Joining Can Help</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 col-sm-12">
          <div class="thumbnail dark">
          <%= image_tag "icons/find_peers.png", alt: "An image of three clipart heads." %>
            <h3 class="">Find Peers</h3>
            <p>
              Talk to other women who are as dedicated to their careers as you are. We employ our proven algorithmic
              process to create "mini-meetup" groups of three that are selected by peer groups, industry, and city.
            </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="thumbnail dark">
            <%= image_tag "icons/find_mentorship.png", alt: "An image of a clipart head in a magnifying glass." %>
          <h3 class="">Find Mentorship</h3>
          <p>
            Connect to intelligent women via Skype to either seek advice and insight on your personal career path, or role playing feedback on other work related situations. Our mentorship program allows you to meet with as many new mentors in order to establish that mentor relationship that you desire.
          </p>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="thumbnail dark">
          <%= image_tag "icons/mentor_others.png", alt: "An image of two clipart heads." %>
          <h3 class="">Mentor Others</h3>
          <p>
            You don't have to be a top executive at a Fortune 100 company, all you need is the experience to provide
            your mentee with beneficial guidance. Connect with other women interested in your position, and help other
            women attain the same career success as you. This program is not a full time committment; you are able to
            chat with your mentee when it is convenient for you.
          </p>
      </div>
    </div>
  </section>

  <div id="featured" class="profiles text-center row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <h2 class="featured">
            Featured Members and Mentors
          </h2>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
              <%= image_tag "kathleen_warner.jpg", alt: "An image of a woman.", class: "img-responsive" %>
              <div class="caption">
                <h3>Kathleen Warner</h3>
                <p class='jobTitle'>
                  COO, Founding Team
                </p>
                <p class='companyName'>
                  Startup America
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
              <%= image_tag "1ec3f14-2.jpg", alt: "An image of a woman's smiling face.", class: "img-responsive" %>
              <div class="caption">
                <h3>Monica Wheat</h3>
                <p class='jobTitle'>
                  Founder, Executive Director
                </p>
                <p class="companyName">
                  Digerati Girls
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
              <%= image_tag "05de396-2.jpg", alt: "An image of a woman's smiling face.", class: "img-responsive" %>
              <div class="caption">
                <h3>Elyse Guilfoyle</h3>
                <p class='jobTitle'>
                  Senior Account Planner
                </p>
                <p class="companyName">
                  Google Ann Arbor
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
              <%= image_tag "056eef0.jpg", alt: "An image of a woman's smiling face." , class: "img-responsive"%>
              <div class="caption">
                <h3>Emily Mahood Bowman</h3>
                <p class='jobTitle'>
                  Sr. User Experience Architect
                </p>
                <p class="companyName">
                  Team Detroit
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
              <%= image_tag "3005686.jpg", alt: "An image of a woman's smiling face.", class: "img-responsive" %>
              <div class="caption">
                <h3>Anna Schroen</h3>
                <p class='jobTitle'>
                  Community Relations Fellow
                </p>
                <p class="companyName">
                  Detroit Lions
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="thumbnail">
              <%= image_tag "1d08518.jpg", alt: "An image of a woman's smiling face.", class: "img-responsive" %>
              <div class="caption">
                <h3>AJ Williams</h3>
                <p class='jobTitle'>
                  Founder | Blogger-in-chief
                </p>
                <p class="companyName">
                  SingleBlackChick.com
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <section class="how-it-works text-center">
    <div class="row">
      <div class="col-md-12">
        <h2 class='light'>
          How It Works
        </h2>
      </div>
    </div>



    <div class="row">
      <div class="col-md-12">
        <h3>Matching with Peers</h3>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="thumbnail dark">
          <div class='thumbnailImg'>
            <%= image_tag "icons/find.png", class: "img-responsive" %>
          </div>
          <div class="caption">
            <p>
              If you are a woman in the tech or business industries (more industries coming soon), sign up above!
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12">
        <div class="thumbnail dark">
          <div class='thumbnailImg'>
            <%= image_tag "icons/mail_teal.png", class: "img-responsive" %>
          </div>
          <div class="caption">
            <p>
              We'll send you a questionnaire to determine your company position, industry, and your career goals.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12">
        <div class="thumbnail dark">
          <div class='thumbnailImg'>
            <%= image_tag "icons/coffee.png" , class: "img-responsive"%>
          </div>
          <div class="caption">
            <p>
              In the middle of each month, we will match you with two other compatible women for a fun and supportive
              mini-meetup that your group will be responsible for organizing. We ask that you commit to one meeting, but
              we encourage you to stay in touch with those you connect with.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-12">
        <div class="thumbnail dark">
          <div class='thumbnailImg'>
            <%= image_tag "icons/connect.png", class: "img-responsive"%>
          </div>
          <div class="caption">
            <p>
              Continue meeting intelligent and influential women at least once a month for career advice or for
              developing new friendships!
            </p>
          </div>
        </div>
      </div>


      <div class="arrows">
        <div class="col-md-3">
          <%= image_tag "icons/arrow.png" %>
        </div>
        <div class="col-md-6">
          <%= image_tag "icons/arrow.png" %>
        </div>
        <div class="col-md-3">
          <%= image_tag "icons/arrow.png" %>
        </div>
      </div>
     </div>
   </section>

   <section>
      <div class="row partners">
        <div class="col-md-12">
          <div class="row text-center">
            <div class="col-md-12">
              <h2>
                Our Awesome Partners
              </h2>
            </div>
          </div>
          <div class="row center-block">
            <div class="col-md-3 col-sm-6">
              <%= link_to image_tag("partners/briebug_solutions.png"), "http://briebugsoftwaresolutions.com/", class: "partner-image" %>
            </div>
            <div class="col-md-3 col-sm-6">
              <%= link_to image_tag("partners/radial-logo.png"), "http://radialdevgroup.com/", class: "partner-image" %>
            </div>
            <div class="col-md-3 col-sm-6">
              <%= link_to image_tag("partners/venture_for_america.png"), "http://ventureforamerica.org/", class: "partner-image" %>
            </div>
            <div class="col-md-3 col-sm-6">
              <%= link_to image_tag("partners/girl_develop_it.png"), "https://www.girldevelopit.com/", class: "partner-image" %>
            </div>
          </div>
        </div>
      </div>
   </section>

   <section>

    <div class="row unit contact text-center">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h2>
              Not ready to connect?
            </h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 col-md-offset-2 col-sm-12">
            <!-- Begin MailChimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
            <div>
              <form ="//WomenRising.us9.list-manage.com/subscribe/post?u=a253e99f8549e18d6502b3a59&amp;id=4e13f2ed86" method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div class="form-group">
                  <label for="mce-EMAIL">Sign up to receive our newsletter!</label>
                  <input type="email" value="" name="EMAIL" class="form-control"" placeholder="email address" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a253e99f8549e18d6502b3a59_4e13f2ed86" tabindex="-1" value=""></div>
                </div>
              </form>
              <button type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info">
                      Subscribe
              </button>
            </div>

          <!--End mc_embed_signup-->
          </div>
        </div>
      </div>
    </div>


    <div class="unit dark social">
      <div class="row">
        <div class="col-md-1 col-sm-12 text-center">
          <a href="https://twitter.com/TheWomenRising" id='twitterLink'>
            <%= image_tag "icons/twitter.gif" %>
          </a>
        </div>
        <div class="col-md-2 col-sm-12 text-center">
          <a href="mailto:info@womenrising.co" id='emailLink'>info@womenrising.co</a>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
          &copy Women Rising, 2015
        </div>
      </div>
    </div>
   </section>

</div>



